@font-face {
    font-family: 'helvetica_rounded_lt_condenBd';
    src: url('../fonts/helvetica-rounded/helveticaroundedlt-boldcond-webfont.eot');
    src: url('../fonts/helvetica-rounded/helveticaroundedlt-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-rounded/helveticaroundedlt-boldcond-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-rounded/helveticaroundedlt-boldcond-webfont.woff') format('woff'),
         url('../fonts/helvetica-rounded/helveticaroundedlt-boldcond-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-rounded/helveticaroundedlt-boldcond-webfont.svg#helvetica_rounded_lt_condenBd') format('svg');
    font-weight: normal;
    font-style: normal;
}
