body {
	background: url('../img/fundo.jpg') repeat center center;
}

#header-links {
	font-size: @font-size-small;
}

header {
	margin-bottom: @grid-gutter-width;
	img {
		.center-block;
	}
}

#link-home {
	.center-block;
	background-color: @post-bg;
	color: #fff;
	font-size: @font-size-large;
	// height: 60px;
	margin-bottom: @grid-gutter-width;
	padding: @grid-gutter-width;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	&:hover {
		text-decoration: none;
	}
}

#social-media {
	margin-bottom: @grid-gutter-width;
}

#home-sobre {
	background-color: @verde-principal;
	color: #fff;
	padding: 15px 20px;
	margin-bottom: 20px;
	font-size: 1.3em;
	text-align: justify;
}

.post {
	overflow: hidden;
	margin-bottom: @grid-gutter-width;
	background-color: @post-bg;
	color: #fff;

	h2 {
		margin-top: 0;
		padding: 20px 10px 0 10px;
		font-size: 1.2em;

		small {
			color: #eee;
			font-size: 1.1em;
		}

		a {
			color: #fff;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	p {
		margin: 0 10px 10px 10px;
	}

	.btn {
		margin-right: 15px;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-size: 0.7em;
	}
		&.format-aside {
			text-align: center;
		}
}

.cor-roxo {
	background-color: @aux-roxo;
}

.cor-amarelo {
	background-color: @aux-amarelo;
}

.cor-turquesa {
	background-color: @aux-turquesa;
}

.cor-azul {
	background-color: @aux-azul;
}

.cor-marrom {
	background-color: @aux-marrom;
}

.cor-verde {
	background-color: @aux-verde;
}

.cor-rosa {
	background-color: @aux-rosa;
}

.cor-vermelho {
	background-color: @aux-vermelho;
}

.cor-branco {
	background-color: @aux-branco;
}

.format-video {
	background-color: @aux-laranja;
}

.format-image {
	img {
		&:extend(.img-responsive);
		&:extend(.center-block);
	}
}

#content {
	background-color: #fff;
	margin-bottom: @grid-gutter-width;
}

#post-image {
	padding-left: 0;
	padding-right: 0;

	img {
		margin-bottom: @grid-gutter-width / 2;
	}
}

#post-meta {
	font-size: @font-size-small;
	color: @gray-light;
}

@media (min-width: @screen-sm-min) {
	#post-social {
		text-align: right;
	}
}

#post-title {
	color: @post-bg;
}

#post-content {
	font-family: Helvetica, Arial, sans-serif;

	p {
		text-indent: 30px;
	}

	img {
		border: 1px solid @gray;
	}
}

footer {
	background-color: @verde-principal;
	color: #fff;
	padding: 20px;

	img.logo {
		.center-block;
	}

	address {
		font-size: @font-size-small;
		margin-top: 10px;

		a {
			color: #fff;
			text-decoration: underline;
		}
	}
}

#footer-info-links {
	text-align: center;

	a {
		text-decoration: underline;
		color: #fff;
		font-size: @font-size-small;

		&:hover {
			text-decoration: none;
		}
	}
}
