// Bootstrap Override
@font-family-sans-serif: "helvetica_rounded_lt_condenBd", Helvetica, Arial, sans-serif;
@icon-font-path: "../vendor/bootstrap/fonts/";
@link-color: #00949d;
@grid-gutter-width: 20px;

// Custom
@verde-principal: #359846;
@post-bg: #009245;
@aux-amarelo: #f8b500;
@aux-azul: #0d95d2;
@aux-laranja: #e9673f;
@aux-marrom: #d57824;
@aux-roxo: #829acf;
@aux-turquesa: #00949d;
@aux-verde: #45b450;
@aux-rosa: #a62267;
@aux-vermelho: #ae1412;
@aux-branco: #fff;
